/* Typography: Fonts */

/* @font-face {
  font-family: "CustomFont";
  src: url("./fonts/Montreal Regular.ttf") format("truetype") url("./fonts/Montreal Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* Typography: Titles and Headings */
